@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 54 77 229; /* Muted indigo */
  }

  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 font-sans;
  }

  * {
    scrollbar-width: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Yatay kaydırmalı bloklarda scrollbar gizle */
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
